$fontHeading: "Barrio", sans-serif;
$fontNav: "Comfortaa", sans-serif;
$colorBackgroundGrey: #efefeb;
$colorNavHover: #ba0000;
$colorMainFont: #333;
$colorLightbulb: #dbdb0b;
$sizeMainFont: 4em;

body {
  width: 100%;
  text-align: center;
  color: $colorMainFont;
  background-color: $colorBackgroundGrey;
  -webkit-font-smoothing: antialiased;

  a {
    text-decoration: none;
    color: $colorMainFont;
  }
} // end body

@import "partials/landing";
@import "partials/easy";
@import "partials/hard";
