@import url('https://fonts.googleapis.com/css?family=Barrio|Comfortaa');

$fontHeading: "Barrio", sans-serif;
$fontNav: "Comfortaa", sans-serif;
$colorBackgroundGrey: #efefeb;
$colorNavHover: #ba0000;
$colorMainFont: #333;
$colorLightbulb: #dbdb0b;
$sizeMainFont: 8em;
$sizeNavFont: 6.5em;
$marginH1Top: .75em;
$marginNavTop: 2.5em;

html {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.fa-lightbulb-o {
  color: firebrick;
}

body {
  background-color: $colorBackgroundGrey;

  .card {
    -webkit-transition: background 1s, transform 1s;
            transition: background 1s, transform 1s;
  -webkit-transform: rotateY( 0deg );
  -webkit-transform: translateY( 0deg );
            -transform: rotateY( 0deg );
            -ms-transform: rotateY( 0deg );
            -moz-transform: rotateY( 0deg );
            -o-transform: rotateY( 0deg );

    .card-icon {
      -webkit-transform: rotateY( 180deg );
      -webkit-transform: translateY( 180deg );
             -transform: rotateY( 180deg );
             -ms-transform: rotateY( 180deg );
             -moz-transform: rotateY( 180deg );
             -o-transform: rotateY( 180deg );
    }
  } // end .card

  .modal-btn {
    display: none;
  }
  //
  #myModal {

    .modal-lg {
      margin-top: 50%;

      .modal-content {
        background-color: azure;
        // background-color: darkseagreen;
      }

      .modal-header {

        .close {
            font-size: .5em;
            margin-left: -5em;
            font-size: 3em;
        }

        text-align: center;

        .modal-title {
          font-size: 3.5em;
          color: $colorMainFont;
        }

      } // end .modal-header

      .modal-body {
        text-align: center;

        p {
          font-size: 2.5em;
          color: $colorMainFont;
        }

      } // end .modal-body

      .btn-close {
        font-size: 2.25em;
      }

    } // end .modal-lg

  } // end #myModal

} // end body

footer {

  background-color: grey;
  height: 9em;

  .fa-heartbeat {
    font-size: 3.5em;
    color: #fff;
    float: right;
    margin-top: .75em;
    margin-right: 10px;
  }
} // end footer

a {
  text-decoration: none;
}

@media screen and ( orientation: landscape ) {

  footer {

    height: 5em;

    .fa-heartbeat {
      font-size: 2.5em;
      margin-top: .55em;
    }

  } // end footer

} // end orientation: landscape

@import "partials/home";
@import "partials/easy";
@import "partials/hard";
