h1 {
  font-family: $fontHeading;
  font-size: $sizeMainFont;
  margin: 1.5em auto 2.5em;
}

main {
  width: 75%;
  margin: auto;
}

.col-6 {
  width: 50%;
  float: left;
  // background: orange;
}

.box {
  width: 12em;
  height: 12em;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: $colorMainFont;
}

.fa-thumbs-o-up {
  margin: auto;
  font-size: $sizeMainFont + 2.5em;
  color: #fff;
}
