h1 {
  font-family: $fontHeading;
  font-size: $sizeMainFont;
  margin-top: 1.5em;
}

.fa-lightbulb-o {
  color: $colorLightbulb;
}

nav {
  font-family: $fontNav;
  margin: 2em auto 0;
  font-size: $sizeMainFont - 1em;
  line-height: 2.5em;

  li {
    width: 10em;
    margin: auto;
  }

  li:hover {
    cursor: pointer;

    a {
      color: #fff;
    }

  } // end li:hover

  li:nth-child(odd):hover {
    background-color: $colorNavHover;
    transform: perspective(10em) rotateY(-35deg);
  }

  li:nth-child(even):hover {
    background-color: $colorNavHover;
    transform: perspective(10em) rotateY(35deg);
  }

} // end nav
