.easy-body {

  .easy-wrapper {

/****************************************************************
GLOBAL PROPERTIES
****************************************************************/

    margin: 0 auto;
    text-align: center;

    h1 {
      font-family: $fontHeading;
      font-size: $sizeMainFont - 4em;
      margin-top: $marginH1Top;
    }

    a {
      color: $colorMainFont;
    }

    nav {
      font-family: $fontNav;
      font-size: $sizeNavFont - 3.75em;
      margin-top: .15em;

      li {
        display: inline-block;
        margin: 0 .1em;
      }

      li,
      a {
        color: $colorMainFont;
        padding: .25em 0;
        cursor: pointer;
      }

      li::nth-child(2) {
        margin-top: 1.5em;
      }
    } // end nav

    main {

      margin-top: 2em;

      ul {
        display: inline-flex;
      }

      .card {
        margin: 0 1.25em;
        width: 5em;
        height: 5em;
      }

      .card-icon {
        font-size: 3.75em;
      }

    } // end main

/****************************************************************
PORTRAIT MEDIA QUERIES
****************************************************************/

    @media screen and ( orientation: portrait ) {

      @media screen and ( min-width: 250px ) {
        height: calc( 100vh - 6.5em );
      }

      @media screen and ( min-width: 450px ) {

        height: calc( 100vh - 9.25em );

        nav {
          font-size: $sizeNavFont - 3.5em;
        }

        main .card {
          width: 6em;
          height: 6em;
        }

      } // end portrait min-width 450px

      @media screen and ( min-width: 525px ) {

        height: calc( 100vh - 15em );

        h1 {
          font-size: 5.5em;
          margin-top: 1.5em;
        }

        nav {
          font-size: $sizeNavFont - 2.2em;
        }

        main {
          margin-top: 12em;
        }

        main .card {
          width: 9em;
          height: 9em;
        }

      } // end portrait min-width 525px

      @media screen and ( min-width: 830px ) {

        h1 {
          font-size: 5.5em;
          margin-top: 2em;
        }

        nav {
          font-size: $sizeNavFont - 2.2em;
        }

        main {
          margin-top: 7em;
        }

        main .card {
          width: 9em;
          height: 9em;
        }

      } // end portrait min-width 830px

    } // end orientation: portrait

/****************************************************************
LANDSCAPE MEDIA QUERIES
****************************************************************/

    @media screen and ( orientation: landscape ) {

      // header {
      //   float: left;
      //   width: 40%;
      // }
      //
      // h1 {
      //   font-size: $sizeMainFont - 3.5em;
      //   margin-top: $marginH1Top + .75em;
      //   margin-left: 4.75%;
      // }
      //
      // nav {
      //   font-size: $sizeNavFont - 3.25em;
      //   margin-top: .25em;
      // } // end nav
      //
      // main {
      //   float: right;
      //   justify-content: flex-end;
      //   align-items: flex-start;
      //   margin-top: 0;
      //   margin-right: 3%;
      //
      //   ul {
      //     width: calc( 100% / 12 * 12);
      //   }
      //
      //   .card {
      //     margin: 10em 2.5em;
      //     width: 9em;
      //     height: 9em;
      //     // width: calc( 100% / 12 * 2);
      //   }
      //
      //   .card-icon {
      //     font-size: 6.25em;
      //     color: #fff;
      //   }
      // } // end main
      //
      //
      //
      //
      //
      @media screen and ( min-width: 550px ) {

        min-height: calc( 100vh - 12.5em );

        h1 {
          font-size: 6.25em;
          margin-top: 1em;
        }

        nav {
          font-size: $sizeNavFont - 1.7em;
        }

        main {
          margin-top: 3em;
        }

        main .card {
          width: 9em;
          height: 9em;
          margin: 0 4em;
        }

    } // end landscape min-width 550px

      @media screen and ( min-width: 700px ) {

      } // end portrait min-width 740px

      @media screen and ( min-width: 1350px ) {

      } // end portrait min-width 740px

    } // end orientation: landscape

  } // end .easy-wrapper

} // end .easy-body
