.easy-body {

  .easy-wrapper {

    width: 90%;
    margin: 0 auto;
    text-align: center;

    h1 {
      font-family: $fontHeading;
      font-size: $sizeMainFont;
      margin-top: $marginH1Top;
    }

    a {
      color: $colorMainFont;
    }

    nav {
      font-family: $fontNav;
      font-size: $sizeNavFont - .25em;
      margin-top: .5em;

      li {
        display: inline-block;
        margin: 0 .1em;
      }

      li,
      a {
        color: $colorMainFont;
        padding: .25em 0;
        cursor: pointer;
      }

      li::nth-child(2) {
        margin-top: 1.5em;
      }
    } // end nav

    main {

      margin-top: 14.5em;

      ul {
        display: inline-flex;
      }

      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3.25em;
        background-color: firebrick;
        width: 18em;
        height: 18em;
        cursor: pointer;
        border-radius: 50%;
      }

      .card-icon {
        font-size: 10em;
        color: #fff;
      }

    } // end main

  } // end .easy-wrapper

} // end .easy-body
