.hard-body {

  width: 100%;
  margin: auto;

  .hard-wrapper {

    margin: 0 auto;
    text-align: center;

    h1 {
      font-family: $fontHeading;
      font-size: $sizeMainFont;
      margin-top: $marginH1Top;
    }

    a {
      color: $colorMainFont;
    }

    nav {
      font-family: $fontNav;
      font-size: $sizeNavFont - .25em;
      margin-top: .15em;

      li {
        display: inline-block;
        margin: 0 .1em;
      }

      li,
      a {
        color: $colorMainFont;
        padding: .25em 0;
        cursor: pointer;
      }

      li::nth-child(2) {
        margin-top: 1.5em;
      }
    } // end nav

    main {

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2.75em;

      ul {
        width: calc( 100% / 12 * 12);

        .card {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: firebrick;
          cursor: pointer;
          border-radius: 50%;
        }

        .card-icon {
          font-size: 5em;
          color: #fff;
          visibility: hidden;
        }
      }

    } // end main

    @media screen and ( orientation: portrait ) {

        min-height: calc( 100vh - 14.5em );

        main {
          width: calc( 100% / 12 * 10 );
          margin: 3em auto 0;
        }

        ul {

          .card {
            width: calc( 100% / 12 * 3);
            margin: 1em 1em;
            width: 9em;
            height: 9em;
          }

        } // end ul

    } // end orientation: portrait

    @media screen and ( orientation: landscape ) {

      min-height: calc( 100vh - 4.55em );

      header {
        float: left;
      }

      h1 {
        font-size: $sizeMainFont - 3.5em;
        margin-top: $marginH1Top + .75em;
        margin-left: 5%;
      }

      nav {
        font-size: $sizeNavFont - 3.25em;
        margin-top: .25em;
      } // end nav

      main {
        justify-content: flex-end;
        align-items: flex-start;
        margin-top: 0;
        margin-right: .5em;
        padding-top: 2.5em;

        ul {
          width: calc( 100% / 12 * 11);
          margin-right: 1.5em;

          .card {
            margin: .75em 0;
            width: calc( 100% / 12 * 1);
            width: 4.65em;
            height: 4.65em;
          }

          .card-icon {
            font-size: 3.5em;
          }

        }


      } // end main
    } // end orientation: landscape

  } // end .hard-wrapper

} // end .hard-body
