.hard-body {

  width: 100%;
  margin: auto;

  .hard-wrapper {

    min-height: calc( 100vh - 9em );
    margin: 0 auto;
    text-align: center;

    h1 {
      font-family: $fontHeading;
      font-size: $sizeMainFont - 5em;
      margin-top: $marginH1Top - .25em;
    }

    a {
      color: $colorMainFont;
    }

    nav {
      font-family: $fontNav;
      font-size: $sizeNavFont - 4em;
      margin-top: -.5em;

      li {
        display: inline-block;
      }

      li,
      a {
        color: $colorMainFont;
        padding: .25em 0;
        cursor: pointer;
      }

      li::nth-child(2) {
        margin-top: .5em;
      }
    } // end nav

    main {
      min-height: calc( 100vh - 30em );
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -1em;

      ul {
        width: calc( 100% / 12 * 12);
        padding: 0 2.1em;

        .card {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: firebrick;
          cursor: pointer;
          border-radius: 50%;
        }

        .card-icon {
          font-size: 2em;
          color: #fff;
          visibility: hidden;
        }
      }

    } // end main

    @media screen and ( orientation: portrait ) {

      @media screen and ( min-width: 250px ) {

        height: calc( 100vh - 5em );

        main {

          margin: -.75em auto 0;

          ul {

            width: calc( 100% / 12 * 12 ) !important;

            .card {
              margin: .2em;
              width: 3.15em;
              height: 3.15em;
            }

          }

        } // end main

      }

      @media screen and ( min-width: 315px ) {

        main ul {
          width: calc( 100% / 12 * 12 ) !important;
        }

      } // end min-width: 315px

      @media screen and ( min-width: 344px ) {

        main ul {
          width: calc( 100% / 12 * 12 ) !important;

          .card {
            margin: .27em;
            width: 5em;
            height: 5em;
          }

        }

      } // end min-width: 344px

        @media screen and ( min-width: 450px ) {

          height: calc( 100vh - 7em );

          nav {
            font-size: $sizeNavFont - 3.5em;
          }

          main {

            margin: 2em auto 0;

            ul {

              width: calc( 100% / 12 * 12 ) !important;

              .card {
                width: 5.5em;
                height: 5.5em;
              }

            }

          }

        } // end portrait min-width 450px

        @media screen and ( min-width: 550px ) {

          main {
            // margin: -1em auto 0;

            .card {
              width: 7.5em;
              height: 7.5em;
              margin: .35em;

              .card-icon {
                font-size: 4.5em;
              }

            }

          }

        } // end portrait min-width 550px

        @media screen and ( min-width: 625px ) {

          height: calc( 100vh - 13em );

          h1 {
            font-size: 5.5em;
            margin-top: .5em;
          }

          nav {
            font-size: $sizeNavFont - 2.2em;
          }

          main {
            margin: -1em auto 0;

            ul {

              width: calc( 100% / 12 * 12 );

              .card {
                width: 6.5em;
                height: 6.5em;
                margin: .45em;

                .card-icon {
                  font-size: 4em;
                }

              }
            }

          }

        } // end portrait min-width 525px

        @media screen and ( min-width: 830px ) {

          min-height: calc( 100vh - 15.8em );
          height: calc( 100vh - 25.7em ) !important;

          h1 {
            font-size: 9em;
            margin-top: .75em;
          }

          nav {
            font-size: $sizeNavFont + .25em;
          }

          main {
            margin: -6.5em auto 0;

            ul {

              .card {
                width: 11em;
                height: 11em;
                margin: 1em;

                .card-icon {
                  font-size: 4.5em;
                }

              } // end .card

            }

          }

        } // end portrait min-width 830px

    } // end orientation: portrait

    @media screen and ( orientation: landscape ) {

      min-height: calc( 100vh - 9em );

      h1 {
        font-size: 5em;
      }

      nav {
        font-size: $sizeNavFont - 2.5em;
      }

      main {
        min-height: calc( 100vh - 26.75em );
        justify-content: flex-end;
        align-items: flex-start;

        ul {
          width: calc( 100% / 12 * 9 );
          margin: 0 auto;

          .card {
            margin: .35em;
            width: 5em;
            height: 5em;
          }

          .card-icon {
            font-size: 4.5em;
          }

        }

      } // end main

      @media screen and ( min-width: 1000px ) {

        main {
          min-height: calc( 100vh - 26.75em );
          justify-content: flex-end;
          align-items: flex-start;

          ul {
            width: calc( 100% / 12 * 10 );
            margin: 2.5em auto 0;

            .card {
              margin: .5em;
              width: 7.75em;
              height: 7.75em;
            }

            .card-icon {
              font-size: 4.5em;
            }

          }

        } // end main

      } // end portrait min-width 740px

      @media screen and ( min-width: 1350px ) {

        main {

          ul {
            width: calc( 100% / 12 * 8 );
            margin-top: 3em;
            .card {
              width: 9em;
              height: 9em;
              margin: .75em;

              .card-icon {
                font-size: 8em;
              }

            }

          }

        }

      } // end portrait min-width 1350px

      @media screen and ( min-width: 1350px ) {

        main {
          min-height: calc( 100vh - 31em ) !important;
          margin-top: 1em;
          ul {

            width: calc( 100% / 12 * 10 );

            .card {
              width: 8.5em;
              height: 8.5em;
              margin: .75em;
            }
          }
        }
      }

    } // end orientation: landscape

  } // end .hard-wrapper

} // end .hard-body
