.home-body {

  .home-wrapper {

    width: 75%;
    margin: 0 auto;
    text-align: center;

    h1 {
      font-family: $fontHeading;
      font-size: $sizeMainFont;
      color: $colorMainFont;
      margin-top: $marginH1Top;
    }

    nav {
      font-family: $fontNav;
      font-size: $sizeNavFont;
      margin-top: $marginNavTop;

      li {
        margin-top: 1.5em;
        padding: .25em 0;
      }

      li,
      a {
        color: #fff;
      }

      a {
        display: inline-block;
        padding: 0 auto;
      }

      li:nth-child(odd) {
  -webkit-transform: perspective(20em) rotateY(-35deg);
          transform: perspective(20em) rotateY(-35deg);
          background: $colorNavHover;
          opacity: .9;
        }

        li:nth-child(even) {
  -webkit-transform: perspective(20em) rotateY(35deg);
          transform: perspective(20em) rotateY(35deg);
          background: $colorNavHover;
          opacity: .9;
        }

    } // end nav

    main {
      width: 90%;
    }

    @media screen and ( orientation: portrait ) {

      h1 {
        font-size: $sizeMainFont;
        margin-top: $marginH1Top + 1em;
      }

      nav {
        width: 100%;
        font-size: $sizeNavFont;
        margin-top: .75em;
      } // end nav

      @media screen and ( min-width: 200px ) {

        h1 {
          font-size: $sizeMainFont - 4.5em;
          margin-top: 30%;
        }

        nav {
          width: 85%;
          margin: 1.5em auto;
          font-size: 2.5em;

          li {
            font-size: $sizeNavFont - 18.25em;

            a {
              width: 4.5em;
              padding: 0 auto;
            }

          }
        } // end nav

      } // end portrait min-width 450px

      @media screen and ( min-width: 450px ) {

        h1 {
          font-size: $sizeMainFont - 3em;
          margin-top: 33%;
        }

        nav {
          width: 75%;
          margin: 2.5em auto;
          font-size: 3.5em;

          li {

            a {
              width: 4.5em;
              padding: 0 auto;
            }

          }
        } // end nav

      } // end portrait min-width 450px

      @media screen and ( min-width: 830px ) {

        h1 {
          font-size: $sizeMainFont + 21em;
          margin-top: 33%;
        }

        nav {
          width: 75%;
          margin: 2.5em auto;
          font-size: 32.5em;

          li {

            a {
              padding: 0 auto;
            }

          }
        } // end nav

      } // end portrait min-width 740px

    } // end orientation: portrait

    @media screen and ( orientation: landscape ) {

      h1 {
        font-size: $sizeMainFont - 3.5em;
        margin-top: $marginH1Top + .25em;
      }

      nav {
        width: 100%;
        font-size: $sizeNavFont - 3.25em;
        margin-top: .25em;

        a {
          display: inline-block;
          padding: 0 auto;
        }
      } // end nav

      @media screen and ( min-width: 550px ) {

        h1 {
          font-size: $sizeMainFont - 4em;
          margin-top: 5%;
        }

        nav {
          width: 75%;
          margin: 1em auto;
          font-size: 2em;

          li {

            a {
              padding: 0 auto;
            }

          }
        } // end nav

      } // end portrait min-width 550px

      @media screen and ( min-width: 700px ) {

        width: 55%;

        h1 {
          font-size: $sizeMainFont;
          margin-top: 7%;
        }

        nav {
          width: 75%;
          margin: 1em auto;
          font-size: 5em;

          li {
            margin-top: 1em;

            a {
              padding: 0 auto;
            }

          }
        } // end nav

      } // end portrait min-width 740px

      @media screen and ( min-width: 1350px ) {

        width: 55%;

        h1 {
          font-size: $sizeMainFont;
          margin-top: 20%;
        }

        nav {
          width: 75%;
          margin: 1em auto;
          font-size: 5em;

          li {
            margin-top: 1.5em;

            a {
              padding: 0 auto;
            }

          }
        } // end nav

      } // end portrait min-width 740px

    } // end orientation: landscape

  } // end .home-wrapper

} // end .home-body
