.home-body {

  .home-wrapper {

    width: 90%;
    margin: 0 auto;
    text-align: center;

    h1 {
      font-family: $fontHeading;
      font-size: $sizeMainFont;
      color: $colorMainFont;
      margin-top: $marginH1Top;
    }

    nav {
      font-family: $fontNav;
      font-size: $sizeNavFont;
      margin-top: $marginNavTop;

      li,
      a {
        color: $colorMainFont;
        margin-top: 1.5em;
        padding: .25em 0;
        cursor: pointer;
      }
    } // end nav

    main {
      width: 90%;
    }

    @media screen and ( orientation: landscape ) {

      min-height: calc( 100vh - 5em );

      h1 {
        font-size: $sizeMainFont - 3.5em;
        margin-top: $marginH1Top + .75em;
        margin-left: 4%;
      }

      nav {
        width: 100%;
        font-size: $sizeNavFont - 3.25em;
        margin-top: .25em;
      } // end nav

    } // end orientation: landscape

  } // end .home-wrapper

} // end .home-body
